In [ ]:
list = [3,3,3,4,4,4]
mean= sum(list)/len(list)
print(mean)

In [ ]:
import random
numList = [1,2,3,4,5,4,3,2,6,7,4,2,23,6,13,23,5,6,43,3,4,5,3453]

print("List is : ", numList)

In [ ]:
sumofList = sum(numList)
n = len(numList)
mean = sumofList/n
print(mean)
print(n)

In [ ]:
if n%2 == 0: 
    m1 = numList[n//2]
    m2 = numList[n//2-1]
    median = (m1+m2)/2
else:
    median = numList[n//2]
    
print(median)

In [ ]:
from collections import Counter
val = Counter(numList)
findMode = dict(val)
mode   = [i for i,v in findMode.items() if v== max(list(val.values()))]

if len(mode) == n:
    findMode = "This group has no mode"
else:
    findMode = "the mode is are :"+','.join(map(str,mode))

print(findMode)

In [8]:
import statistics as stat
stat.mean(numList)

157.69565217391303

In [9]:
stat.mode(numList)

4

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'player':['A','B','C','D','E','F','G','H'],
    'game1':[12,43,23,12,42,12,52,12],
    'game2':[23,12,15,17,17,81,12,12],
    'game3':[11,8,10,6,6,8,9,12],
    'game4':[5,6,7,2,3,2,17,3]
})
print(df)

  player  game1  game2  game3  game4
0      A     12     23     11      5
1      B     43     12      8      6
2      C     23     15     10      7
3      D     12     17      6      2
4      E     42     17      6      3
5      F     12     81      8      2
6      G     52     12      9     17
7      H     12     12     12      3

In [4]:
df.mean(numeric_only=True)

game1    26.000
game2    23.625
game3     8.750
game4     5.625
dtype: float64

In [5]:
df.median(numeric_only=True)

game1    17.5
game2    16.0
game3     8.5
game4     4.0
dtype: float64

In [6]:
df.mode(numeric_only=True)

   game1  game2  game3  game4
0   12.0   12.0      6      2
1    NaN    NaN      8      3

In [11]:
import numpy as np
np.mean(numList)

np.float64(157.69565217391303)

In [12]:
np.median(numList)

np.float64(5.0)

In [2]:
from scipy import stats
stats.mode(numList)

NameError: name 'numList' is not defined